<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript" src="canvasjs.min.js"></script>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript">
	window.onload = function () {
	$.when($.getJSON("/income"), $.getJSON("/outcome")).done(function(income, outcome) {
	    income = income[0].reverse();
	    outcome = outcome[0].reverse();

		var chart = new CanvasJS.Chart("chartContainer",
		{

			title:{
				text: "Balance",
				fontSize: 30
			},
                        animationEnabled: true,
			axisX:{

				gridColor: "Silver",
				tickColor: "silver",
				valueFormatString: "DD/MMM/YYYY"

			},
                        toolTip:{
                          shared:true
                        },
			theme: "theme2",
			axisY: {
				gridColor: "Silver",
				tickColor: "silver"
			},
			legend:{
				verticalAlign: "center",
				horizontalAlign: "right"
			},
			data: [
			{
				type: "line",
				showInLegend: true,
				lineThickness: 2,
				name: "Income",
				markerType: "square",
				color: "#F08080",
				dataPoints: income.map(function(item) {
				    return {
				        x: new Date(item.date),
				        y: item.value
				    };
				})
			},
			{
				type: "line",
				showInLegend: true,
				name: "Outcome",
				color: "#20B2AA",
				lineThickness: 2,

				dataPoints: outcome.map(function(item) {
				    return {
				        x: new Date(item.date),
				        y: item.value
				    };
				})
			},
			{
				type: "line",
				showInLegend: true,
				name: "Balance",
				color: "#bebebe",
				lineThickness: 2,

				dataPoints: outcome.map(function(outcomeItem, index) {
					var item = income[index];
				    return {
				        x: new Date(item.date),
				        y: item.value - outcomeItem.value
				    };
				}).reduce(function(acc, item) {
					var prev = acc[acc.length - 1];

					acc.push({
						x: item.x,
						y: item.y + (prev ? prev.y : 0)
					})
					return acc;
				}, [])
			}


			],
          legend:{
            cursor:"pointer",
            itemclick:function(e){
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
              	e.dataSeries.visible = false;
              }
              else{
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
		});

        chart.render();

	})
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
123
</body>
</html>

